/*Classes that we added in have been removed due to them being unnecessary */

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

#external-links {
  display: inline-block;
  vertical-align: top;
  width: 20%
}
/* It seems that setting the width to 50% was
the cause of display and vertical-align 
not operating properly 

Now, if you could excuse me, I need to do 
something about my hemorrhaging forehead*/
main {
  display: inline-block;
  position: relative;
  width: 20%;
}

body {
  max-width: 960px;
/* Using both this text-align and this 
margin setting results in a truely 
centered page */
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  body {
/* using percentiges for font sizes
yeilds a more elegant display when the font-size changes
on a mobile device */
    font-size: 100%;
  }
}

@media screen and (max-width: 40em) {
  img {
    display: none;
  }
}

